@import url('https://fonts.googleapis.com/css2?family=Shojumaru&family=ZCOOL+KuaiLe&display=swap');

.heading{
    font-family: "Shojumaru", system-ui;
    font-size: 44px;
    font-weight: 400;
    line-height: 52px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(237, 1, 55, 1);
}